section {
	display: grid;
	place-items: center;
	margin: 35px 0 0 0;
}

aside {
	height: 102%;
}

article {
	height: 102%;
}

.slider {
	position: relative;
	width: 70%;
	border: 1px solid #006699 ;
	border-radius: 15px;
}

.myslide, .myslide_1{
	height: 26vw;
	display: none;
	overflow: hidden;
	border-radius: 15px;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}

.prev:hover, .next:hover{
	color: #006699; /* blue */
}

.next{
	right: 0;
}

.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}

.dot, .dot_1{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

.active, .dot:hover, .dot_1:hover{
	border-color: #006699;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.myslide img, .myslide_1 img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}

@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}

@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}

@media screen and (max-width: 600px){
	.myslide, .myslide_1{
		height: 500px;
	}
	
	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}
}

.activities {
	text-align: center;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5em;
    flex-wrap: wrap;
	margin: 0 0 10px 0;
}

.activities .a_1 {
	flex-basis: 210px;
    max-width: 220px;
    flex-grow: 1;
    background-color: white;
	border: 1.5px solid #006699;
}

.activities div .img_actividad {
	width: 100%;
	margin: 5px 0;
	border-bottom: 1.5px solid #006699;
}

.activities div h1 {
	color: #006699;
	font-size: 16px;
	text-align: left;
	padding: 0 0 0 10px;
}

.activities div .text {
	text-align: justify;
	font-size: 15px;
	padding: 5px 10px 0 10px;
	margin: 0;
	height: 160px;
	color: #006699;
}

.time {
	display: flex;
	height: max-content;
	margin: 10px auto;
	position: sticky;
	bottom: 0;
}

.time img {
	margin: 0 10px;
	width: 15px;
	display: flex;
	flex: 1;
}

.time p {
	font-size: 10px;
	color: gray;
	display: flex;
	flex: 6;
	align-content: center;
	align-items: center;
	text-align: left;
}

.tittle {
	color: #006699;
	margin: 15px;
	font-size: 25px;
}


